@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(241, 241, 241);
}

.player {
  aspect-ratio: 16 / 9 ;
  width: 100%;
}

#loading:hover {
  -webkit-animation: rotation 0.5s  linear;
}

@-webkit-keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
  }
  to {
          -webkit-transform: rotate(180deg);
  }
}