@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(241, 241, 241);
}

.player {
  aspect-ratio: 16 / 9 ;
  width: 100%;
}

.tab-animation {
  animation-duration: 0.8s;
  animation-name: open;
  animation-timing-function: ease-in-out;
}
@keyframes open{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}