@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(241, 241, 241);
}

.img-bg {
  background-color: rgb(241, 241, 241);
}

.player {
  aspect-ratio: 16 / 9 ;
  width: 100%;
}

.slide-bottom{animation:slide-bottom .5s cubic-bezier(.25,.46,.45,.94) 1s both}

.bgimage {
  background-image: url(headevent.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.tab-animation {
  animation-duration: 0.8s;
  animation-name: open;
  animation-timing-function: ease-in-out;
}
@keyframes open{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.tab-FAQ {
  animation-duration: 0.8s;
  animation-name: toggle;
  animation-timing-function: ease-in-out;
}
@keyframes toggle{
  0%{
    height: 0;
  }
  100%{
    height: auto;
  }
}

.input-container {
  position: relative;
  margin: 20px 0 20px 20px;
}

.input-field {
  display: block;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}




